.wp-block-media-manager-time-position-display {
	margin-top: 0;
	margin-right: 1em;
	margin-bottom: 0;
	margin-left: 0.5em;

	.time-position-diaplay__wrapper {
		width: 90px;
		margin: 0 5px;
		line-height: 1.5em;
	}
}
