.wp-block-media-manager-media-player {
	.wp-block-media-manager-play-pause-button {
		.player-play-pause-icon {
			display: none;
		}
	
		.player-pause-icon {
			display: block;
		}
	}

	.wp-block-media-manager-play-pause-button.is-media-paused {
		.player-play-pause-icon {
			display: block;
		}
	
		.player-pause-icon {
			display: none;
		}
	}
}
