.editor-styles-wrapper .wp-block-media-manager-player {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0.5em;

	.block-list-appender {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
	}

	.wp-block-media-manager__item {
		margin: 0;
		display: inline-block;
		align-self: center;
		max-width: var(--responsive--aligndefault-width);

		.components-button {
			padding: 0;
			overflow: hidden;
			display: flex;
		}
	}
}
