.editor-styles-wrapper .wp-block-media-manager-media-player {
	.block-list-appender {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 0 0 0.5em;
	}

	.wp-block-media-manager__item {
		margin: 0;
		max-width: var(--responsive--aligndefault-width);

		.components-button {
			padding: 0;
			overflow: hidden;
			display: flex;
		}
	}
}
