.wp-block-media-manager-media-player {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0.5em;
	border-radius: 50vh;

	// All children items (play, pause, time-position, etc...)
	.wp-block-media-manager__item {
		margin: 0 5px 0 0;
		display: inline-block;
		align-self: center;
		max-width: var(--responsive--aligndefault-width);
		border-radius: 9999px; // 100% causes an oval, but any explicit but really high value retains the pill shape.
		line-height: 0;
	}

	button {
		padding: 0;
		border: 0;

		&:focus {
			outline: none;
		}

		svg {
			fill: currentColor;
		}

		&.is-small-size {
			width: 24px;
			min-width: 24px;
			height: 24px;
		}

		&.is-normal-size {
			width: 36px;
			min-width: 36px;
			height: 36px;
		}

		&.is-medium-size {
			width: 48px;
			min-width: 48px;
			height: 48px;
		}

		&.is-large-size {
			width: 60px;
			min-width: 60px;
			height: 60px;
		}
	}
}
