.editor-styles-wrapper .wp-block-media-manager-media-player {
	.block-list-appender {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 0 0 0.5em;
	}

	// All children items (play, pause, time-position, etc...)
	.wp-media-manager-player-button {
		margin: 0 5px 0 0;
		max-width: var(--responsive--aligndefault-width);
	}

	.components-button {
		padding: 0;
		overflow: hidden;
		display: flex;
		color: inherit;
	}
}
