$item-size: 120px;

.wp-block-media-manager-media-theater .components-placeholder__fieldset {
	.media-selector {
		width: 100%;

		h4 {
			font-size: 14pt;
    		font-weight: 400;
			margin: 0 0 10px;
		}

		ul {
			margin: 0;
			padding: 0;
			text-decoration: none;
			display: flex;
			flex-wrap: wrap;
		}

		ul li {
			display: inline-flex;
			box-sizing: border-box;
			border: 1px solid #eee;
			margin: 5px;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}

		.media__item-wrapper {
			display: flex;
			position: relative;
			height: $item-size;
			width: $item-size;
			justify-content: center;
    		align-items: center;
			border: 1px solid transparent;
			border-radius: 3px;

			.media__item {
				display: flex;
				height: $item-size;
				width: $item-size;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 0;
			}

			.media__item-icon {
				z-index: 2;
				position: absolute;
				left: 3px;
				top: 3px;
				fill: #fff;
				background: #007cba;
    			background: var(--wp-admin-theme-color);
				border-radius: 3px;
				transition: opacity ease-in-out 200ms;
			}

			.media__item-play-button {
				z-index: 2;
				position: absolute;
				right: 3px;
				bottom: 3px;
			}

			&:hover {
				border-color: #007cba;
				border-color: var(--wp-admin-theme-color);

				.media__item-icon {
					opacity: 0;
				}
			}

			.media__item video {
				width: calc( 100% - 2px) ;
			}
		}
	}
}

// Media Source Panel
.media-source-panel {
	.media__item-wrapper {
		width: 100%;
	}

	.media__item-metadata {
		display: flex;
		align-items: center;
		position: relative;
	}

	.media__item-play-button {
		position: absolute;
		right: 0;
	}

	.components-button.is-link.components-button__focus {
		margin-left: 5px;
	}

	.media__item video {
		width: 100%;
	}
}