$item-size: 100px;

.components-placeholder__fieldset {
	.media-selector {
		h4 {
			font-size: 14pt;
    		font-weight: 400;
			margin: 0 0 10px;
		}

		ul {
			margin: 0;
			padding: 0;
			text-decoration: none;
			display: flex;
			flex-wrap: wrap;
		}

		ul li {
			display: inline-flex;
			box-sizing: border-box;
			border: 1px solid #eee;
			margin: 5px;
		}

		.media__item-wrapper {
			display: flex;
			position: relative;
			height: $item-size;
			width: $item-size;
			justify-content: center;
    		align-items: center;
			border: 1px solid transparent;
			border-radius: 3px;

			.media__item {
				display: flex;
				height: $item-size;
				width: $item-size;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 0;
				opacity: 0.5;
			}

			.media__item-icon {
				z-index: 1;
				fill: #fff;
				background: #007cba;
    			background: var(--wp-admin-theme-color);
				border-radius: 3px;
			}

			&:hover {
				border-color: #007cba;
				border-color: var(--wp-admin-theme-color);
				cursor: pointer;

				.media__item {
					opacity: 1;
				}

				.media__item-icon.is-video {
					display: none;
				}

				.media__item-icon.is-audio {
					opacity: 0.5;
				}
			}
		}
	}
}

// Media Source Panel
.media-source-panel {
	ul li.media-type {
		display: flex;
		align-items: center;
		position: relative;
	}

	.components-button {
		position: absolute;
		right: 0;
	}

	.media__item video {
		width: 100%;
	}
}